/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.cdnfonts.com/css/school');

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --text-color: white;
    --font: -apple-system, BlinkMacSystemFont, sans-serif;
    --gamer-font: 'Press Start 2P', cursive;
    --programmer-font: 'IBM Plex Mono', monospace;
    --musician-font:'Dancing Script', cursive;
    --student-font: 'SCHOOl', sans-serif;
    --oswald-font: 'Oswald', sans-serif;
    --open-sans-font: 'Open Sans', sans-serif;

    --blurred-bg: rgba(0, 0, 0, 0.3);
    --slight-blurred-bg: rgba(0, 0, 0, 0.1);
    --blur: blur(5px);
}

* {
    overflow-x: hidden;
}

#bg-div {
    position: fixed;
    z-index: -5;
    width: 100vw;
    height: 100vh;
    background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #000000 20px), repeating-linear-gradient(#141414, #141414);
    background-color: #000000;
}

/* back to top button */
.btn.btn-dark.button-up {
    position: fixed;
    z-index: 99;
    top: 87%;
    left: 92%;
    outline: none;
    display: none;
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
    animation: 0.3s button_disappear forwards linear;
}

.btn.btn-dark.button-up:focus {
    outline: none;
}

.btn.btn-dark.button-up.appear {
    animation: 0.3s button_appear forwards linear;
}

/* top button animation */

@keyframes button_disappear {
    from {
        -webkit-transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(90deg) scale(1.3);
    }
    100% {
        -webkit-transform: rotate(180deg) scale(0);
    }
}

@keyframes button_appear {
    from {
        -webkit-transform: rotate(180deg) scale(0);
    }
    50% {
        -webkit-transform: rotate(90deg) scale(1.3);
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1);
    }
}

/* home section */
#home-section {
    margin-top: 70px;
    margin-bottom: 180px;
}

#home-section p {
    font-family: var(--font);
    height: min-content;
    font-weight: bold;
    font-size: 60px;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

#home-section > .container {
    margin-top: 100px;
    height: 600px;
}

#home-section .name-col {
    overflow: hidden;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

#home-section .image-col {
    height: 600px;
    display: flex;
    align-items: center;
}

#words {
    height: 100px;
    overflow: hidden;
}

#gamer-word {
    padding-top: 10px;
    font-family: var(--gamer-font);
    font-size: 50px;
}

#programmer-word {
    font-family: var(--programmer-font);
}

#musician-word {
    font-family: var(--musician-font);
}

#student-word {
    font-size: 50px;
    padding-bottom: 10px;
    font-family: var(--student-font);
}

.animation-item {
    display: block;
    height: 100%;
    padding-left: 15px;
    color: rgb(255, 255, 255);   
    font-family: var(--font);
    font-size: 60px;
    font-weight: bold;
    animation: swap_words 5s infinite;
}

/* intro text animation */
@keyframes swap_words {
    10% {
        transform: translateY(-108%);
    }
    25% {
        transform: translateY(-100%);
    }
    35% {
        transform: translateY(-208%);
    }
    50% {
        transform: translateY(-200%);
    }
    60% {
        transform: translateY(-308%);
    }
    75% {
        transform: translateY(-300%);
    }
    85% {
        transform: translateY(-408%);
    }
    100% {
        transform: translateY(-400%);
    }
}

/* about me section */
.about-me-paragraph {
    color: var(--text-color);
    font-family: var(--open-sans-font);
    font-size: 18px;
    padding-top: 20px;
}

#about-me-section .container, #about-me-section .row{
    height: 100%;
}

.about-me {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.batstateu-logo {
    width: 300px;
}

#about-me-section {
    height: 50vh;
    background: var(--blurred-bg);
    backdrop-filter: var(--blur);
    border: 1px solid rgba(0,0,0,0.25);
}

#about-me-section h1{
    color: var(--text-color);
    font-family: var(--oswald-font);
    width: max-content;
    font-weight: bold;
    font-size: 80px;
    letter-spacing: 2px;
    overflow: hidden;
}

/* hobbies section */
#hobbies-section .col-md-5 {
    background-color: #fff;
    height: 300px;
    border-radius: 10px;
}

#hobbies-section {
    height: 100vh;
    background: var(--slight-blurred-bg);
    backdrop-filter: var(--blur);
    border: 1px solid rgba(0,0,0,0.25);
}

.hobbies-title1 {
    color: var(--text-color);
    font-family: var(--oswald-font);
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.hobbies-words {
    color: #000;
    background-color: #fff;
    font-family: var(--oswald-font);
    font-weight: lighter;
    font-size: 30px;
    margin: 0;
}

.hobby-cards {
    padding: 10px;
    overflow: hidden;
}

.hobby-cards span {
    overflow: hidden;
}

.hobby-cards .h1 {
    color: #000;
    font-family: var(--oswald-font);
    font-weight: bold;
    font-size: 80px;
    margin: 0;
    overflow: hidden;
}

#hobbies-section img {
    margin-right: 20px;
    width: 230px;
    border-radius: 10px;
}

/* skills section */
#skills-section {
    height: 100vh;
    overflow: hidden;
    background: var(--blurred-bg);
    backdrop-filter: var(--blur);
    border: 1px solid rgba(0,0,0,0.25);
}

#skills-section .col-xl-2 {
    background-color: #fff;
    height: 200px;
    border-radius: 10px;
}

.skills-img {
    margin-right: 20px;
    width: 100px;
    border-radius: 10px;
}

.skills-words {
    color: #000;
    background-color: #fff;
    font-family: var(--oswald-font);
    font-weight: lighter;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.skills-cards {
    overflow: hidden;
}

.skills-cards span {
    overflow: hidden;
}

.skills-cards .h1 {
    color: #000;
    font-family: var(--oswald-font);
    font-weight: bold;
    font-size: 80px;
    margin: 0;
    overflow: hidden;
}

/* works section */
#works-section {
    height: 100vh;
    background: var(--slight-blurred-bg);
    backdrop-filter: var(--blur);
    border: 1px solid rgba(0,0,0,0.25);
}

.work-words {
    color: #000;
    background-color: #fff;
    font-family: var(--oswald-font);
    font-weight: lighter;
    font-size: 30px;
    margin: 0;
}

#works-section .col-10 {
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    height: 610px;
    overflow: hidden;
}

.language-icon {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0;
    height: 80px;
}

.works-img {
    height: 500px;
}

#works-section h1 {
    font-family: var(--oswald-font);
    font-weight: bold;
    font-size: 50px;
    color: #000;
    overflow: hidden;
}

#works-section .col-6 {
    font-family: var(--oswald-font);
    font-size: 30px;
    color: #000;
    overflow: hidden;
}

.prev-button {
    margin-right: 50%;
    color: #fff;
}

.next-button {
    margin-right: -50%;
    color: #fff;
}

/* contact me section */
#contact-me {
    height: 20vh;
    background-color: #000;
}

#contact-me * {
    overflow: hidden;
}

.main-row {
    height: 100%;
}

#contact-me .container-fluid {
    padding: 2% 10% 2% 10%;
    height: 100%;
    max-width: 100%;
}

#contact-me img {
    width: 80px;
    padding: 10px;
    color: white;
}

#contact-me a {
    text-decoration: none;
}

#email-link {
    padding-left: 20px;
    text-decoration: none;
    width: fit-content;
    color: var(--text-color);
    font-family: var(--open-sans-font);
}

.social-title {
    padding-left: 30px;
    overflow: hidden;
    color: var(--text-color);
    font-family: var(--oswald-font);
    font-weight: bold;
    font-size: 80px;
    letter-spacing: 3px;
    transform: translateX(-400px);
}

.social-title.appear {
    animation: social_title_reveal 0.5s forwards ease-out;
}

@keyframes social_title_reveal {
    100% {
        transform: translateX(0px);
    }
}

/* socials logo animation */
#github-logo {
    transform: translateY(-100px);
}

#fb-logo {
    transform: translateY(-100px);
}

#twitter-logo {
    transform: translateY(-100px);
}

#insta-logo {
    transform: translateY(-100px);
}

#email-link {
    transform: translateY(50px);
}

.github.appear {
    animation: github_appear 0.5s forwards;
}

.fb.appear {
    animation: fb_appear 0.5s forwards;
    animation-delay: 0.06s;
}

.twitter.appear {
    animation: twitter_appear 0.5s forwards;
    animation-delay: 0.08s;
}

.insta.appear {
    animation: insta_appear 0.5s forwards;
    animation-delay: 0.1s;
}

.email.appear {
    animation: email_appear 0.5s forwards;
    animation-delay: 0.12s;
}

@keyframes github_appear {
    100% {
        transform: translateY(0px);
    }
}

@keyframes fb_appear {
    100% {
        transform: translateY(0px);
    }
}

@keyframes twitter_appear {
    100% {
        transform: translateY(0px);
    }
}

@keyframes insta_appear {
    100% {
        transform: translateY(0px);
    }
}

@keyframes email_appear {
    100% {
        transform: translateY(0px);
    }
}
