/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.cdnfonts.com/css/school');

:root {
    --text-color: white;
    --font: -apple-system, BlinkMacSystemFont, sans-serif;
    --gamer-font: 'Press Start 2P', cursive;
    --programmer-font: 'IBM Plex Mono', monospace;
    --musician-font:'Dancing Script', cursive;
    --student-font: 'SCHOOl', sans-serif;
}

* {
    overflow-x: hidden;
}

/* back to top button */
.btn.btn-dark {
    position: fixed;
    z-index: 99;
    top: 87%;
    left: 92%;
    display: none;
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 50%;
    animation: 0.3s button_disappear forwards linear;
}

.btn.btn-dark.appear {
    animation: 0.3s button_appear forwards linear;
}

/* top button animation */

@keyframes button_disappear {
    from {
        -webkit-transform: rotate(0deg) scale(1);
    }
    50% {
        -webkit-transform: rotate(90deg) scale(1.3);
    }
    100% {
        -webkit-transform: rotate(180deg) scale(0);
    }
}

@keyframes button_appear {
    from {
        -webkit-transform: rotate(180deg) scale(0);
    }
    50% {
        -webkit-transform: rotate(90deg) scale(1.3);
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1);
    }
}

/* image bg */
.image-bg {
    position: fixed;
    width: 1920px;
    left: 50%;
    transform: translateX(-50.1%);
    z-index: -1;
}

/* home section */
#home-section {
    margin-top: 70px;
}

#home-section p {
    font-family: var(--font);
    height: min-content;
    font-weight: bold;
    font-size: 60px;
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

#home-section > .container {
    margin-top: 100px;
    height: 600px;
}

#home-section .name-col {
    overflow: hidden;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

#home-section .image-col {
    height: 600px;
    display: flex;
    align-items: center;
}

#words {
    height: 100px;
    overflow: hidden;
}

#gamer-word {
    padding-top: 10px;
    font-family: var(--gamer-font);
    font-size: 50px;
}

#programmer-word {
    font-family: var(--programmer-font);
}

#musician-word {
    font-family: var(--musician-font);
}

#student-word {
    font-size: 50px;
    padding-bottom: 10px;
    font-family: var(--student-font);
}

.container span {
    display: block;
    height: 100%;
    padding-left: 15px;
    color: rgb(255, 255, 255);   
    font-family: var(--font);
    font-size: 60px;
    font-weight: bold;
    animation: swap_words 5s infinite;
}

/* intro text animation */
@keyframes swap_words {
    10% {
        transform: translateY(-112%);
    }
    25% {
        transform: translateY(-100%);
    }
    35% {
        transform: translateY(-212%);
    }
    50% {
        transform: translateY(-200%);
    }
    60% {
        transform: translateY(-312%);
    }
    75% {
        transform: translateY(-300%);
    }
    85% {
        transform: translateY(-412%);
    }
    100% {
        transform: translateY(-400%);
    }
}

/* about me section */
#about-me-section {
    margin-top: 265px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

#about-me-section h1 {
    color: var(--text-color);
    overflow: hidden;
    text-align: center;
    padding-top: 50px;
}